---
title: Netlify Build Data
---

<h1>Netlify build data</h1>
<hr/>

<% content_for :page_head_meta do %>
  <meta name="turbo-cache-control" content="no-cache">
<% end %>

<section class="margin-bottom--m" data-controller="years" data-years-status-value="loading">
  <% button_group do %>
    <div data-years-target="buttonGroup">
      <%= button text: "#{loading contained: true}", type: :default, html: { class: "invert", "data-years-target": "button", "data-action": "click->years#yearClicked" } %>
    </div>
  <% end %>
</section>

<section data-controller="months" data-months-year-selected-value="">
  <% button_group do %>
    <div data-months-target="buttonGroup">
      <%= button text: "#{loading contained: true}", type: :default, html: { class: "invert", "data-months-target": "button", "data-action": "click->months#monthClicked" } %>
    </div>
  <% end %>
</section>

<hr/>

<section data-controller="successful-builds" data-successful-builds-loading-value='<%= loading html: { class: "primary"} %>'>
  <header>
    <h2>Successful builds</h2>
  </header>
  <div class="flex-column">
    <%= alert text: "Production #{loading html: { class: 'primary'} }", type: :primary, html: { class: "margin-bottom--s", "data-successful-builds-target": "production" } %>
    <%= alert text: "Deploy preview #{loading html: { class: 'primary'} }", type: :primary, html: { class: "margin-bottom--s", "data-successful-builds-target": "deployPreview" } %>
    <%= alert text: "CMS #{loading html: { class: 'primary'} }", type: :primary, html: { class: "margin-bottom--s", "data-successful-builds-target": "cms" } %>
  </div>
</section>

<hr/>

<section data-controller="mean-build-times" data-mean-build-times-loading-value='<%= loading %>' data-mean-build-times-success-class="terminal-alert-success" data-mean-build-times-warning-class="terminal-alert-warning" data-mean-build-times-error-class="terminal-alert-error", data-mean-build-times-unavailable-class="terminal-alert-primary">
  <header>
    <h2>Mean build time (s)</h2>
  </header>
  <div class="flex-column">
    <%= alert text: "Production #{loading}", type: :default, html: { class: "margin-bottom--s", "data-mean-build-times-target": "production" } %>
    <%= alert text: "Deploy preview #{loading}", type: :default, html: { class: "margin-bottom--s", "data-mean-build-times-target": "deployPreview" } %>
    <%= alert text: "CMS #{loading}", type: :default, html: { class: "margin-bottom--s", "data-mean-build-times-target": "cms" } %>
  </div>
</section>

<hr/>

<section class="margin-bottom--m" data-controller="build-time-by-context">
  <header>
    <h2>Build time by context (s)</h2>
  </header>
  <% button_group do %>
   <%= button text: "Production", type: :default, html: { class: "invert selected", "data-build-time-by-context-target": "button", "data-action": "click->build-time-by-context#contextClicked" } %>
   <%= button text: "Deploy preview", type: :default, html: { class: "invert", "data-build-time-by-context-target": "button", "data-action": "click->build-time-by-context#contextClicked" } %>
   <%= button text: "CMS", type: :default, html: { class: "invert", "data-build-time-by-context-target": "button", "data-action": "click->build-time-by-context#contextClicked" } %>
  <% end %>
</section>

<section data-controller="data-visualisation" data-action="resize@window->data-visualisation#resize">
  <div data-viz="wrapper" class="line-chart">
    <% tooltip html: { "data-viz": "tooltip" } do %>
      <div class="line-chart--tooltip-text">
        <strong><small><span data-viz="date"></span></small></strong>
      </div>
      <div class="line-chart--tooltip-text">
        <small>Duration: <span data-viz="duration"></span></small>
      </div>
    <% end %>
  </div>
</section>

<%= vite_async_css "data_viz_css" %>
<%= vite_javascript_tag "dashboard", "data-turbo-track": "reload", defer: true %>
