---
title: Netlify Build Data
---

<h1>Netlify build data</h1>
<hr/>

<section class="margin-bottom--m" data-controller="years" data-years-status-value="loading">
  <% button_group do %>
    <div data-years-target="buttonGroup">
      <%= button text: "#{loading contained: true}", type: :default, html: { class: "invert", "data-years-target": "button", "data-action": "click->years#yearClicked" } %>
    </div>
  <% end %>
</section>

<section data-controller="months" data-months-year-selected-value="">
  <% button_group do %>
    <div data-months-target="buttonGroup">
      <%= button text: "#{loading contained: true}", type: :default, html: { class: "invert", "data-months-target": "button" } %>
    </div>
  <% end %>
</section>

<hr/>

<section data-controller="successful-builds">
  <header>
    <h2>Successful builds</h2>
  </header>
  <div class="flex-column">
    <%= alert text: "Production #{loading html: { class: 'primary'} }", type: :primary, html: { class: "margin-bottom--s" } %>
    <%= alert text: "Depoly preview #{loading html: { class: 'primary'} }", type: :primary, html: { class: "margin-bottom--s" } %>
    <%= alert text: "CMS #{loading html: { class: 'primary'} }", type: :primary, html: { class: "margin-bottom--s" } %>
  </div>
</section>

<hr/>

<section data-controller="mean-build-times">
  <header>
    <h2>Mean build time (s)</h2>
  </header>
  <div class="flex-column">
    <%= alert text: "Production #{loading}", type: :default, html: { class: "margin-bottom--s" } %>
    <%= alert text: "Deploy preview #{loading}", type: :default, html: { class: "margin-bottom--s" } %>
    <%= alert text: "CMS #{loading}", type: :default, html: { class: "margin-bottom--s" } %>
  </div>
</section>

<%= vite_javascript_tag "dashboard", "data-turbo-track": "reload", defer: true %>
