<% wrap_layout :layout do %>
  <h1><%= current_article.title %></h1>
  <hr/>
  <% if current_article.data.banner_image %>
    <%= figure media: image_tag(current_article.data.banner_image, loading: :eager, class: "margin-bottom--m") %>
  <% end %>
  <%= yield %>
  <div data-controller="comments">
    <%= button text: "Load comments", type: :default, html: { class: "margin-top--m", "data-comments-target": "load", "data-action": "click->comments#load" } %>
    <div id="commento" data-comments-target="commento"></div>
  </div>
  
  <script defer
          src="https://cdn.commento.io/js/commento.js"
          data-css-override="<%= asset_path :css, 'commento.css' %>"
          data-auto-init="false"
          data-no-fonts="true">
  </script>
<% end %>
