<% content_for :page_head_css do %>
  <%= vite_async_css "game_css" %>
<% end %>

<% content_for :page_head_js do %>
  <%= vite_javascript_tag "game", "data-turbo-track": "reload", defer: true %>
<% end %>

<!doctype html>
<html lang="en-GB">
  <%= partial "partials/head" %>
  <body class="terminal">
    <div class="container">
      <%= partial "partials/main_navigation" %>
    </div>

    <div class="container">
      <div class="game_container">
        <%= yield %>
      </div>
      <%= partial "partials/footer" %>
    </div>    
  </body>
</html>
