<!doctype html>
<html lang="en-GB">
  <%= partial "partials/head" %>
  <body class="terminal">
    <div class="container">
      <% main_navigation link: "/", title: "Jeff Knox" do %>
        <%= navigation_list_item link: "/cv/", text: "CV" %>
        <%= navigation_list_item link: "/styleguide/", text: "Styleguide" %>
      <% end %>
    </div>

    <div class="container">
      <hr/>
      <div class="components components-grid">
        <%= partial "partials/styleguide/aside" %>
        <main><%= yield %></main>
      </div>
      <%= partial "partials/footer" %>
    </div>    
  </body>
</html>
