<!doctype html>
<html lang="en-GB">
  <%= partial "partials/head" %>
  <body class="terminal">
    <%= partial "partials/real_user_metrics" %>
    <div class="container">
      <%= partial "partials/main_navigation" %>
    </div>

    <div class="container">
      <h1>Styleguide</h1>
      <hr/>
      <p>
        I have to give a big shout out to the makers of <%= link_to "Terminal CSS", "https://terminalcss.xyz/" %>
        for creating this lightweight, modern and minimal CSS framework. I applied the framework to this
        site and altered it to suit my needs.
      </p>
      <p>
        As a Ruby developer, I've been interested to see how the concept of components would be adopted
        and was excited to see the introduction of <%= link_to "ViewComponent", "https://github.com/github/view_component" %>
        in Ruby on Rails.
      </p>
      <p class="margin-bottom--l">
        However, for my personal site I wanted to stick with the simplicity and speed of a static site and opted
        for <%= link_to "Middleman", "https://middlemanapp.com/" %>. This SSG has no
        concept of components but after some experimentation I've got a working version where I can group
        my Ruby components together with their SCSS and JS. Each component is rendered below and you
        can <%= link_to "check out this blog post", "/blog/building-view-components-in-middleman/" %>
        to find out how I did it.
      </p>
      <div class="components components-grid">
        <%= partial "partials/styleguide/aside" %>
        <main><%= yield %></main>
      </div>
      <%= partial "partials/footer" %>
    </div>    
  </body>
</html>
