<% main_footer do %>
  <div class="contact contact--social margin-bottom--s">
    <% link_to "https://www.linkedin.com/profile/public-profile-settings?trk=prof-edit-edit-public_profile" do %>
      <%= partial "partials/svgs/linkedin", locals: { icon_class: "social__icon" } %>
    <% end %>
    <% link_to "https://twitter.com/jeff_r_knox" do %>
      <%= partial "partials/svgs/twitter", locals: { icon_class: "social__icon" } %>
    <% end %>
    <% link_to "https://github.com/knoxjeffrey" do %>
      <%= partial "partials/svgs/github", locals: { icon_class: "social__icon" } %>
    <% end %>
  </div>

  <div class="contact margin-bottom--s">
    <%= partial "partials/svgs/mail", locals: { icon_class: "contact__icon" } %>
    <%= mail_to "jeffreyknox@hey.com" %>
  </div>
  <div class="contact margin-bottom--s">
    <%= partial "partials/svgs/phone", locals: { icon_class: "contact__icon" } %>
    <%= link_to "07775682459", "tel:07775682459" %>
  </div>

  <div class="contact">
    <%= partial "partials/svgs/info", locals: { icon_class: "contact__icon" } %>
    <span>Ruby and JavaScript developer based in Edinburgh, UK.</span>
  </div>

  <p class="margin-top--l">
    <%= "Copyright © Jeff Knox Blog #{Date.today.year} • All rights reserved." %>
  </p>
<% end %>
