<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= yield_content :page_head_meta %>
  
  <link rel="apple-touch-icon" sizes="180x180" href="<%= url_for '/favicons/apple-icon-180x180.png' %>" />
  <link rel="icon" type="image/png" sizes="192x192" href="<%= url_for '/favicons/android-icon-192x192.png' %>" />
  <link rel="icon" type="image/png" sizes="512x512" href="<%= url_for '/favicons/android-icon-512x512.png' %>" />
  <link rel="icon" type="image/png" sizes="32x32" href="<%= url_for '/favicons/favicon-32x32.png' %>" />
  <link rel="icon" type="image/png" sizes="16x16" href="<%= url_for '/favicons/favicon-16x16.png' %>"
  />
  <!-- Use the title from a page's frontmatter if it has one -->
  <title><%= current_page.data.title || "Jeff Knox" %></title>
  <meta name="description" content="<%= current_page.data.description || 'Jeff Knox personal website' %>">
  <%= vite_client_tag %>
  <%= vite_inline_css "early_paint_css" %>
  <%= vite_stylesheet_tag "main_css", "data-turbo-track": "reload" %>
  <%= vite_stylesheet_tag "components_css", "data-turbo-track": "reload" %>
  <%= yield_content :page_head_css %>
  <%= vite_javascript_tag "main", "data-turbo-track": "reload", defer: true %>
  <%= vite_javascript_tag "components", "data-turbo-track": "reload", defer: true %>
  <%= yield_content :page_head_js %>
  <% if ENV["BUILD_TYPE"] == "production" %>
    <!-- Fathom - beautiful, simple website analytics -->
    <script src="https://haddock.jeffreyknox.dev/script.js" data-site="IDHNGMRM" data-spa="auto" defer></script>
    <!-- / Fathom -->
  <% end %>
  <%= yield_content :page_head_assets %>
</head>
