---
title: Web Vitals Data
---

<h1>Web Vitals Data</h1>
<hr/>

<% content_for :page_head_meta do %>
  <meta name="turbo-cache-control" content="no-cache">
<% end %>

<section class="margin-bottom--m" data-controller="years" data-years-store-id-value="vitals_" data-years-function-value="vitals_data_years_and_months" data-years-status-value="loading">
  <% button_group do %>
    <div data-years-target="buttonGroup">
      <%= button text: "#{loading contained: true}", type: :default, html: { class: "invert", "data-years-target": "button", "data-action": "click->years#yearClicked" } %>
    </div>
  <% end %>
</section>

<section data-controller="months" data-months-store-id-value="vitals_" data-months-function-value="vitals_data_for_year_and_month" data-months-year-selected-value="0">
  <% button_group do %>
    <div data-months-target="buttonGroup">
      <%= button text: "#{loading contained: true}", type: :default, html: { class: "invert", "data-months-target": "button", "data-action": "click->months#monthClicked" } %>
    </div>
  <% end %>
</section>

<hr class="margin-bottom--s" />

<section data-controller="frame" data-frame-store-id-value="vitals_">
  <% navigation_sub do %>
    <%= navigation_list_item link: "#", text: "Daily", item_list_element: true, position: 1, active: true, html: { "data-frame-target": "button", "data-action": "click->frame#frameSelected", "data-frame-id-param": "daily", "onclick": "event.preventDefault()" } %>
    <%= navigation_list_item link: "#", text: "Frequency", item_list_element: true, position: 2, html: { "data-frame-target": "button", "data-action": "click->frame#frameSelected", "data-frame-id-param": "frequency", "onclick": "event.preventDefault()" } %>
  <% end %>
</section>

<section class="margin-bottom--m" data-controller="select-context" data-select-context-store-id-value="vitals_" data-select-context-default-context-value="lcp" data-select-context-context-key-value="metric">
  <header>
    <h2>Daily Core Web Vitals</h2>
  </header>
  <% button_group do %>
   <%= button text: "LCP", type: :default, html: { class: "invert selected", "data-select-context-target": "button", "data-action": "click->select-context#contextClicked" } %>
   <%= button text: "FID", type: :default, html: { class: "invert", "data-select-context-target": "button", "data-action": "click->select-context#contextClicked" } %>
   <%= button text: "CLS", type: :default, html: { class: "invert", "data-select-context-target": "button", "data-action": "click->select-context#contextClicked" } %>
  <% end %>
</section>

<section data-controller="frame-loader" data-frame-loader-target="frame" data-frame-loader-store-id-value="vitals_">
  <%= alert text: "Loading #{loading}", type: :default, html: { "data-frame-loader-target": "loading" } %>
</section>

<%= vite_async_css "data_viz_css" %>
<%= vite_javascript_tag "dashboard", "data-turbo-track": "reload", defer: true %>
