<section>
  <header>
    <h2 id="Buttons">Buttons</h2>
  </header>
  <div class="flex-column flex-column--start">
    <%= button text: "Default", type: :default, html: { class: "margin-bottom--s" } %>
    <%= button text: "Primary", type: :primary, html: { class: "margin-bottom--s" } %>
    <%= button text: "Error", type: :error, html: { class: "margin-bottom--s" } %>
    <%= button text: "Default Ghost", type: :default, ghost: true, html: { class: "margin-bottom--s" } %>
    <%= button text: "Primary Ghost", type: :primary, ghost: true, html: { class: "margin-bottom--s" } %>
    <%= button text: "Error Ghost", type: :error, ghost: true, html: { class: "margin-bottom--s" } %>
    <%= button text: "Default Block", type: :default, block: true, html: { class: "margin-bottom--s" } %>
    <%= button text: "Default Ghost Block", type: :default, ghost: true, block: true, html: { class: "margin-bottom--l" } %>
  </div>

  <header>
    <h2>Button group</h2>
  </header>
  <% button_group do %>
    <%= button text: "Left", type: :default, ghost: true %>
    <%= button text: "Middle", type: :default, ghost: true %>
    <%= button text: "Right", type: :default, ghost: true %>
  <% end %>
</section>
