<section>
  <header>
    <h2 id="GridSystem">Grid System</h2>
  </header>
  <% grid  do %>
    <% link_to "https://picsum.photos" do %>
      <%= image_tag "https://picsum.photos/200/300?random&1", alt: "Random image", width: "auto", height: "auto" %>
    <% end %>
    <% link_to "https://picsum.photos" do %>
      <%= image_tag "https://picsum.photos/200/300?random&2", alt: "Random image", width: "auto", height: "auto" %>
    <% end %>
    <% link_to "https://picsum.photos" do %>
      <%= image_tag "https://picsum.photos/200/300?random&3", alt: "Random image", width: "auto", height: "auto" %>
    <% end %>
    <% link_to "https://picsum.photos" do %>
      <%= image_tag "https://picsum.photos/200/300?random&4", alt: "Random image", width: "auto", height: "auto" %>
    <% end %>
    <% link_to "https://picsum.photos" do %>
      <%= image_tag "https://picsum.photos/200/300?random&5", alt: "Random image", width: "auto", height: "auto" %>
    <% end %> 
    <% link_to "https://picsum.photos" do %>
      <%= image_tag "https://picsum.photos/200/300?random&6", alt: "Random image", width: "auto", height: "auto" %>
    <% end %>  
    <% link_to "https://picsum.photos" do %>
      <%= image_tag "https://picsum.photos/200/300?random&7", alt: "Random image", width: "auto", height: "auto" %>
    <% end %>
  <% end %>
</section>
