---
title: Jeff Knox CV
---

<h1>CV</h1>
<hr/>

<h2>Summary</h2>

<p>
  I'm a senior software engineer with over <%= ((Date.today - Date.new(2015, 8, 1))/365).floor %> years
  experience and currently work at <%= link_to "Stora", "https://stora.co/" %>. Prior to working with Stora,
  I was a senior software engineer in the Front End Architecture team at <%= link_to "FreeAgent", "https://www.freeagent.com/" %>
  and before that I was Head of Development at a digital agency called <%= link_to "Primate", "http://primate.co.uk/" %>.
</p>

<p>
  I've used my technical and problem solving skills not only to deliver complex web applications but also
  make improvements to web performance and build pipelines. Excellent communication skills have enabled me
  to work closely with sales, marketing and engineering teams.
</p>

<p> 
  I started my software engineering journey in 1998, studying for a degree in Computer and Management
  Science but, after finishing with a 2:1 Honours Degree, I had an opportunity to work with an exciting
  new medical device technology. I re-trained and ran my own clinic for 11 years and combined that with
  research work on a hand held medical device for improving spinal biomechanics.
</p>

<p> 
  I sold the clinic in February 2015 but had been getting the bug for programming again one year prior
  to this. I knew this was the direction I wanted to take my career and enrolled in a bootcamp
  specialising in Ruby and Ruby on Rails before finding freelance work and it's been upwards from there!
</p>

<hr />

<h2>Career</h2>

<% timeline do %>
  <%= alert text: "Nov 2021 - Present", type: :primary, html: { class: "margin-bottom--s" } %>
  <% card title: "Senior Software Engineer for Stora" do %>
    More to follow soon! 
  <% end %>

  <%= alert text: "Apr 2021 - Nov 2021", type: :primary, html: { class: "margin-bottom--s" } %>
  <% card title: "Senior Software Engineer for FreeAgent" do %>
    Part of a small group of engineers setting up a new Front End Architecture team at FreeAgent. Our
    initial responsibility is to gradually port legacy JavaScript to a single, modern build pipeline.

    Our long term aim is to implement systems that improve the lives of the engineering teams working on 
    the FreeAgent front-end, making adding and maintaining features a breeze. These responsibilities will
    range from enabling teams to easily maintain npm package versions, keeping the build pipeline fast,
    ease of using reusable code patterns and much, much more. 
  <% end %>

  <%= alert text: "Apr 2019 - Mar 2021", type: :primary, html: { class: "margin-bottom--s" } %>
  <% card title: "Software Engineer for FreeAgent" do %>
    Joined the Marketing Platform team which has responsibility for the FreeAgent <%= link_to "marketing site", "https://www.freeagent.com/" %>
    as well as supporting multiple teams throughout the business.

    During my time, I helped setup the PageSpeed Insights API in our Data Warehouse to track the
    performance effects of changes in our code base. I added Perfume.js to the website which pushed Core
    Web Vitals measurements to our GA account for better oversight of Real User Metrics.

    I made significant improvements in deploy times and helped lead the project to move the static
    website from our self hosted infrastructure over to Netlify. This infrastructure enabled engineers to
    work closely with the Sales team to deliver personalised learning experiences for our accountancy
    practices and significantly increase engagement.
  <% end %>

  <%= alert text: "Aug 2018", type: :primary, html: { class: "margin-bottom--s" } %>
  <% card title: "Head of Development for Primate" do %>
    In addition to the development work from my previous roles within the company, I worked with the
    Technical Director assisting other developers. On top of this, I started building internal projects to
    expand the scope and budget of work we could take on. Sites with my involvement on
    backend and server work:
    <%= link_to "Book Week Scotland,", "https://bookweekscotlandevents.com/" %>
    <%= link_to "Light Up A Memory,", "https://www.lightupamemory.com/" %>
    <%= link_to "Gordonstoun.", "https://gordonstoun.org.uk/" %>
  <% end %>

  <%= alert text: "Jul 2016", type: :primary, html: { class: "margin-bottom--s" } %>
  <% card title: "Senior Developer for Primate" do %>
    I took on more responsibility for the overall development of projects from the outset. Assisting the
    technical director with server management and reworking the Chef server deployment setup. Click on
    the following projects to find out more about my involvement:
    <%= link_to "Findr,", "/blog/findr/" %>
    <%= link_to "The Bulba Handbook,", "/blog/the-bulba-handbook/" %>
    <%= link_to "Harviestoun,", "/blog/harviestoun/" %>
    <%= link_to "M3 Consultancy,", "/blog/m3-consultancy/" %>
    <%= link_to "e-testing,", "/blog/e-testing/" %>
    <%= link_to "Distinction Armagnac,", "/blog/distinction-armagnac/" %>
    <%= link_to "Children’s Hospices Across Scotland.", "/blog/childrens-hospices-across-scotland/" %>
    Other projects where I did the majority of backend work:
    <%= link_to "Draper Esprit,", "https://draperesprit.com/" %>
    <%= link_to "Edinburgh Centre for Carbon Innovation,", "https://edinburghcentre.org/" %>
    <%= link_to "Dane Architectural,", "https://danearchitectural.co.uk/" %>
    <%= link_to "Cityheart Living Gloucester.", "https://cityheartlivingglos.co.uk/" %>
  <% end %>

  <%= alert text: "Nov 2015", type: :primary, html: { class: "margin-bottom--s" } %>
  <% card title: "Junior Developer for Primate" do %>
    Having worked as a freelancer, I was taken on full time primarily as a Rails developer but also had 
    the chance to work on front end and Wordpress. Click on the following projects to find out more
    about my involvement:
    <%= link_to "Cruise Loch Ness,", "/blog/cruise-loch-ness/" %>
    <%= link_to "Craneware Careers,", "/blog/craneware-careers/" %>
    <%= link_to "Float Blog,", "/blog/float-blog/" %>
    <%= link_to "Student Accommodation UHI.", "/blog/student-accommodation-uhi/" %>
  <% end %>

  <%= alert text: "Oct 2015", type: :primary, html: { class: "margin-bottom--s" } %>
  <% card title: "Freelance Work for Primate" do %>
    Worked with 
    <%= link_to "Primate", "http://primate.co.uk/" %>
    using LocomotiveCMS for Rails and worked with their designer and developers to create new pages
    built from design specs.
  <% end %>

  <%= alert text: "Aug 2015", type: :primary, html: { class: "margin-bottom--s" } %>
  <% card title: "Freelance Work for Katana Code" do %>
    Worked with
    <%= link_to "Katana Code", "http://katanacode.com/" %>
    on a Rails project for one of their clients. This involved creating a website to allow customers to
    log in securely to gain access to their information, view future events and make bookings.
  <% end %>

  <%= alert text: "Jul 2015", type: :primary, html: { class: "margin-bottom--s" } %>
  <% card title: "Tealeaf Academy Front End Foundations Course" do %>
    My final project was a Todo application using my own MVC framework and utility library:
    <%= link_to "Todo MVC", "https://todo-my-mvc.firebaseapp.com/" %>
  <% end %>

  <%= alert text: "May 2015", type: :primary, html: { class: "margin-bottom--s" } %>
  <% card title: "Tealeaf Academy" do %>
    Finished the course and built my first production Rails application to create a web application for
    managing a babysitting circle, Time Off Tokens. We also built a simple Reddit clone as our first
    Rails project and Netflix clone as the second project.
  <% end %>

  <%= alert text: "Dec 2014", type: :primary, html: { class: "margin-bottom--s" } %>
  <% card title: "Tealeaf Academy" do %>
    Began work on this Ruby on Rails course. The initial part focused on learning Ruby and we built a
    simple web application using Sinatra.
  <% end %>
<% end %>

<hr />
<h2>Skills Summary</h2>

<p>Ruby/Ruby on Rails</p>
<%= progress_arrow filled: 95 %>
<br />

<p>JavaScript</p>
<%= progress_arrow filled: 80 %>
<br />

<p>HTML/CSS</p>
<%= progress_arrow filled: 75 %>
<br />

<p>PostgreSQL</p>
<%= progress_arrow filled: 50 %>
<br />

<p>Netlify</p>
<%= progress_arrow filled: 90 %>
<br />

<p>GitHub</p>
<%= progress_arrow filled: 70 %>
<br />

<hr />
<h2>Relevant Education and Courses</h2>

<ul>
  <li> 
    <b>Edinburgh University: 1998 - 2002</b>
    <p class="margin-top--s">Computer Science and Management Science, 2:1 (Hons)</p>
  </li>
</ul>

<ul>
  <li> 
    <b>Pragmatic Studio: 2014</b>
    <p class="margin-top--s">Ruby Programming</p>
  </li>
</ul>

<ul>
  <li> 
    <b>Tealeaf Academy: 2014 - 2015</b>
    <p class="margin-top--s">Introduction to Ruby and Web Development</p>
    <p>Rapid Prototyping With Ruby On Rails</p>
    <p>Building Robust And Production Quality Applications</p>
  </li>
</ul>

<hr />
<h2>Business Experience</h2>

<ul>
  <li> 
    <b>Director of Move Freely Solutions: 2003 - 2015</b>
    <p class="margin-top--s">
      Ran an Edinburgh based clinic that specialised in technology to improve spinal biomechanics. Other
      services included full biomechanics assessment, Sports Therapy and Massage Therapy. 
    </p>
    <p> 
      As well as clinical work, I undertook spinal biomechanics research with the University of Central
      Lancashire.
    </p>
  </li>
</ul>

<hr />
<h2>Hobbies And Interests</h2>

<ul>
  <li>Mountain Biking</li>
  <li>Formula 1</li>
  <li>Skiing</li>
  <li>Music</li>
</ul>
