---
layout: layout
description: "Latest blog articles from Jeff Knox"
blog: "blog"
pageable: true
per_page: 10
---
<!-- List articles -->
<% page_articles.each do |article| %>
  <div class="margin-bottom--l">
    <% card title: article.title do %>
      <span>Posted on <time datetime="<%= article.date.strftime("%Y-%m-%d") %>"><span style="color: var(--primary-color);"><%= article.date.strftime("%e %b %Y") %></span></time></span>
      <div class="margin-top--s margin-bottom--l"><%= article.summary %></div>
      <%= button text: "Read more", link: true, href: article.url, type: :default %>
    <% end %>
  </div>
<% end %>

<!-- Pagination -->
<% if paginate %>
  <% if prev_page %>
    <%= button text: "Previous", link: true, href: prev_page.url, type: :primary, html: { class: "margin-top--l", rel: "previous" } %>
  <% else %>
    <%= button text: "Previous", type: :primary, ghost: true, html: { class: "margin-top--l" } %>
  <% end %>
  <% if next_page %>
    <%= button text: "Next", link: true, href: next_page.url, type: :primary, html: { class: "margin-top--l", rel: "next" } %>
  <% else %>
    <%= button text: "Next", type: :primary, ghost: true, html: { class: "margin-top--l" } %>
  <% end %>
<% end %>
