---
title: Jeff Knox
---

<h1>About me</h1>
<hr/>

<p>
  Hi there, I'm Jeff. I'm a Ruby and JavaScript software engineer living in Edinburgh, UK. I have a
  passion for measuring and improving site speed and apply my learnings to my day job at
  <%= link_to "FreeAgent", "https://www.freeagent.com/" %>.
</p>

<p>
  I also believe in user privacy so you won't find any cookies here! This site uses
  <%= link_to "Fathom Analytics", "https://usefathom.com/ref/T401LX" %> to allow me
  to have simple and privacy focused website analytics and I encourage you to check them
  out. As an alternative to Disqus, I'm also trying out <%= link_to "Commento", "https://commento.io/" %>
  which is a lightweight and privacy focused comments widget.
</p>

<p>
  I'm a big fan of the simplicity of static site generators but not so keen on the large JavaScript
  bundles delivered by some. This site is built with <%= link_to "Middleman", "https://middlemanapp.com/" %>
  which is highly customisable but keeps things lean and is hosted by <%= link_to "Netlify", "https://www.netlify.com/" %>.
</p>

<p>
  I'm using this site to write about what I learn and as a playground to experiment with different
  technologies. The source code is on <%= link_to "GitHub", "https://github.com/knoxjeffrey/personal_website" %>
  so feel free to take a look around.
</p>
