---
layout: styleguide
title: Jeff Knox website styleguide
---

<%= partial "partials/styleguide/alerts" %>
<hr/>
<%= partial "partials/styleguide/buttons" %>
<hr/>
<%= partial "partials/styleguide/cards" %>
<hr/>
<%= partial "partials/styleguide/figures" %>
<hr/>
<%= partial "partials/styleguide/forms" %>
<hr/>
<%= partial "partials/styleguide/grids" %>
<hr/>
<%= partial "partials/styleguide/highlight_js" %>
<hr/>
<%= partial "partials/styleguide/lists" %>
<hr/>
<%= partial "partials/styleguide/navigation" %>
<hr/>
<%= partial "partials/styleguide/navigation_lists" %>
<hr/>
<%= partial "partials/styleguide/progress_bars" %>
<hr/>
<%= partial "partials/styleguide/special_elements" %>
<hr/>
<%= partial "partials/styleguide/tables" %>
<hr/>
<%= partial "partials/styleguide/timelines" %>
<hr/>
<%= partial "partials/styleguide/typography" %>
<hr/>

<section>
  <header>
    <h2 id="Documentation">Documentation</h2>
  </header>
<%= partial "partials/styleguide/variables" %>
